/* Nguyến tắc bài trong CSS
    1) Xem xét từ ngoài vào trong
    2) Xem xét từ trên xuống dưới
    3) Tổng quan đến chi tiết */
/* Reset CSS */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*Dung chung (Common)*/
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;  /*Hành động cuộn, khi kích vào một đường link nào đó trong trang thì nó sẽ có chuyển động cuộn xuống trong trang web*/
}
.clear{
    clear:both;
}
.text-white{
    color:white !important; /*important se duoc uu tien nhat, cho nen nhung the co class text-white thi se duojc uu tien hon. Neu text co mau khac ko phai trang thi no se uu tien mau trang*/
}
.pull-right{
    float:right !important;
}
.btn{
    color:#fff;
    background: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top:15px;
    border:none;
    text-align: center;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* Sử dụng row và col làm cho việc không cần nghĩ tên class */
.row{
    margin-left: -8px;
    margin-right: -8px;;
}  /*Khi sử dụng row, col thì khoong nên css những thuộc tính trùng với row và col*/
.row::after{
    content:"";
    display: block;
    clear:both;
}
.col{
    float:left;
    padding-right: 8px;
    padding-left: 8px;
}
.col-full{
    width: 100%;  /*Có 1 cột*/
}
.col-third{
    width:33.33333%;
}
.col-half{
    width:50%;  /*Có 2 cột*/
}
.mt-8{
    margin-top:8px !important;
}
.mt-16{
    margin-top: 16px !important; 
}
.mt-32{
    margin-top: 32px !important;
}

/* Đặt vài câu hỏi để diễn tả trang web
    1) Vị trí của thẻ ở đâu (ví dụ id=header thì nó nằm ở vị trí đầu trang bên trong id=main)
    2) Kích thước (width,height)
    3) Màu sắc
    4) Kiểu dáng (Kiểu chữ, Kiểu hình: tròn,vuông,..) */
#main{
    overflow: hidden; /*Là những thứ nằm ngoài thẻ cha (out ra rìa của thẻ cha) thì sẽ bị ẩn đi  --> Khongo tối ưu, cho nên hạn chế sử dụng*/
}
#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;  /*Trục độ sâu (cao hay thấp), nổi lên trên hay chìm xuống*/
    /* overflow: hidden; */
}
#nav
{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;  /* Kieu cua danh sach (vi du danh dau thu tu la 1 2 3 or bang dau cham*/
}
#nav .subnav li, #nav .subnav a {
    display: block;
}
#nav li{ 
    position: relative;
    display: inline-block;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase; /*Viet in hoa*/
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: inline-block;  /* bao quanh padding */
}

#nav > li:hover > a,
#nav .subnav li:hover a
{     /*khi hover vào thẻ li con của thằng nav thì con của thẻ li được hover là thẻ a */
    color: black;
    background-color: #ccc;
}
#nav .subnav{
    display: none; /* ẩn đi */
    min-width: 160px;
    position: absolute;
    top:100%;  /*Cách để không cần đo khoang cách giữa cha và con*/
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /*Bóng đổ*/
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color:#000;
    padding: 0 14px;
    line-height: 38px;   /*114/3=38 mỗi ô. line-height dùng cho khoảng cách giữa chữ với các element mà không bị dịch chuyển */  
}
#nav .nav-arrow{
    font-size: 10px;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer; /*Thuộc tính cursor để thay đổi hình dạng của trỏ chuột*/
}
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right:0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding: 0 21px;
}
.mobile-menu-btn:hover{
    background-color: #ccc;
}
.mobile-menu-btn:hover .menu-icon{
    color: #000;
}



#slider{
    position: relative;
    margin-top:46px;
    padding-top:50%; /*% là tỷ lệ kích thước theo chiều ngang của chính nó (là chiều ngang của thẻ cha, thẻ chứa nó)*/
    background: url('/assets/img/slider/slider2.jpg') top center /cover no-repeat;
}
/* .slider-img{
    position: absolute;
    top:0;
} */
#slider .text-content
{   
    position: absolute;
    bottom:48px;
    /* left:50%;
    transform: translateX(-50%); */
    left:0;
    right:0;
    color:#fff;
    text-align: center;
}
#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description
{
    margin-top: 25px;
}

#content{
    /* height: 1000px; */
    background: white;

}
#content .content-section
{
    width:800px;  /*Trong màn hình lớn hơn 800px thì content-section sẽ ăn theo 800px*/
    max-width: 100%;  /*nó mạnh hơn width, khi màn hình hiện tai nhỏ hơn 800px thì width 800px sẽ không thỏa mãn và nó sẽ kéo chiều rộng xuống = 100% với màn hình hiện tại*/
    padding: 64px 0 112px;
    margin-left:auto;
    margin-right: auto;  
    padding-left:16px;
    padding-right:16px; 
}
#content .section-heading,
#content .section-sub-heading{
    text-align:center;
}
#content .section-heading{
    font-size:30px;
    font-weight: 500;
    letter-spacing:4px; /*Khoang cách giữa các chữ cái trong 1 text*/
}
#content .section-sub-heading{
    margin-top:25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6; /*Làm mờ dần đi độ trong suốt*/
}
#content .about-text{
    margin-top:25px;
    text-align: justify; /*Căn đều 2 bên*/
    line-height: 1.4 ;  /*Chỉnh độ cao của một dòng*/
}
#content .section-sub-heading, 
#content .about-text{
    font-size:15px;
}
#content .member-list{
    margin-top:32px;
    overflow: hidden; /*Dùng để phủ thằng float, vì float là mặt phẳng khác dù nó nằm trong thẻ cha, nên nó làm cho thẻ cha bị co lại. Không phủ hết được con của nó */

}
#content .member-item{
    /* float:left;
    width:calc(100%/3); */
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top:15px;
    width: 154px;
    border-radius:5px;
}
/*Tour-section*/
.tour-section{
    background: #000;
}
.ticket-list{
    background-color: white;
    margin-top:40px;
    list-style:none;
}
.ticket-list li{
    font-size:15px;
    padding:12px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding:4px 4px;
    margin-left: 16px;
}
.ticket-list .quantity{
    float:right;  /*float có sẵn thuộc tính là block -> khi sử dụng float thì sẽ có thuộc tính block*/
    width:24px;
    height:24px;
    background-color: #000;
    color:white;
    border-radius:50%;
    text-align: center;
    line-height: 24px;
    margin-top:-3px; /*Có thuộc tính float thì mới dùng - được*/
}
/* Place section */
.place-list{
    margin-top:16px;
    overflow:hidden;
    /* margin: 32px -8px 0; */
    /* padding-bottom:48px; */
}
/* .place-item{
    float:left;
    width:33.33333%;  Dùng cho thẻ chứa 3 ảnh
    padding:0 8px;
} */
.place-img{
    width:100%; /*CHo width=100% thì ảnh sẽ nằm trong khoảng của thẻ chưứa nó là place-item --> Không làm ảnh vượt quá khoải thẻ chứa nó*/
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    padding:16px;
    background-color: #fff;
    font-size:15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top:15px;
    color: #757575;
}
.place-dsc{
    margin-top:15px;
    line-height:1.4;
}

/* Contact-form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{  /*Thẻ i có class là ti-*/
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size:15px;
}
.contact-form-around{
    overflow: hidden;
}
.contact-form .form-control{
    padding:10px;
    border:1px solid #ccc;   
    width:100%;
    outline: none; /*Sẽ bỏ đi cái màu viền của thẻ input và có giá trị giống border*/
}
/*Map-section*/
.map-section img{
    width:100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size:24px;
}
#footer .socials-list a{
    color:rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    color:rgba(0,0,0,0.4);
}
#footer .copyright{
    margin-top:15px;
    color:rgba(0,0,0,0.6);
}
#footer .copyright a{
    color:rgba(0,0,0,0.6);
}


/*Phần dùng js*/
.modal {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background: #fff;
    width:900px;
    max-width:calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation:modalFadeIn ease 0.5s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-close{
    position: absolute;
    right:0;
    top:0;
    color:#fff;
    padding:12px;
    cursor: pointer;
}
.modal .modal-close:hover{
    opacity: 0.8;
}
.modal .modal-header-icon{
    margin-right: 16px;
}
.modal-body{
    padding:16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket{
    background:#009688;
    border: none;
    color:#fff;
    width:100%;
    font-size:15px;
    text-transform: uppercase;
    padding:18px;
}
#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    padding:16px;
    text-align: right;
}
.modal-footer a{
    color:#2196f3;
}
@keyframes modalFadeIn{ /*Tạo ra các chuyển động liên tiếp các hình ảnh tĩnh */
    from{
        opacity: 0;
        transform: translateY(-130px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
} 