/* Nguyến tắc bài trong CSS
    1) Xem xét từ ngoài vào trong
    2) Xem xét từ trên xuống dưới
    3) Tổng quan đến chi tiết */
/* Reset CSS */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Đặt vài câu hỏi để diễn tả trang web
    1) Vị trí của thẻ ở đâu (ví dụ id=header thì nó nằm ở vị trí đầu trang bên trong id=main)
    2) Kích thước (width,height)
    3) Màu sắc
    4) Kiểu dáng (Kiểu chữ, Kiểu hình: tròn,vuông,..) */
#main{

}
.text-white{
    color:white !important; /*important se duoc uu tien nhat, cho nen nhung the co class text-white thi se duojc uu tien hon. Neu text co mau khac ko phai trang thi no se uu tien mau trang*/
}
#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;  /*Trục độ sâu (cao hay thấp), nổi lên trên hay chìm xuống*/
}
#nav
{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;  /* Kieu cua danh sach (vi du danh dau thu tu la 1 2 3 or bang dau cham*/
}
#nav .subnav li, #nav .subnav a {
    display: block;
}
#nav li{ 
    position: relative;
    display: inline-block;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase; /*Viet in hoa*/
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover a
{     /*khi hover vào thẻ li con của thằng nav thì con của thẻ li được hover là thẻ a */
    color: black;
    background-color: #ccc;
}
#nav .subnav{
    display: none; /* ẩn đi */
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /*Bóng đổ*/
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color:#000;
    padding: 0 14px;
    line-height: 38px;
}
#nav .nav-arrow{
    font-size: 10px;
}
#header .search-btn{
    float:right;
    padding: 0 21px;

}
#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}
#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer; /*TThuộc tính cursor để thay đổi hình dạng của trỏ chuột*/

}


#slider{
    position: relative;
    margin-top:46px;
    padding-top:50%; /* % là tỷ lệ kích thước theo chiều ngang của chính nó*/
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content
{   
    position: absolute;
    bottom:48px;
    /* left:50%;
    transform: translateX(-50%); */
    left:0;
    right:0;
    color:white;
    text-align: center;
}
#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description
{
    margin-top: 25px;
}

#content{
    height: 1000px;
    background: white;

}
#content .content-section
{
    width:800px;
    padding: 64px 0;
    margin-left:auto;
    margin-right: auto;   
}
#content .section-heading,
#content .section-sub-heading{
    text-align:center;
}
#content .section-heading{
    font-size:30px;
    font-weight: 500;
    letter-spacing:4px; /*Khoang cách giữa các chữ cái trong 1 text*/
}
#content .section-sub-heading{
    margin-top:25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6; /*Làm mờ dần đi độ trong suốt*/
}
#content .about-text{
    margin-top:25px;
    text-align: justify; /*Căn đều 2 bên*/
    line-height: 1.4 ;  /*Chỉnh độ cao của một dòng*/
}
#content .section-sub-heading, 
#content .about-text{
    font-size:15px;
}
#content .member-list{
    margin-top:48px;
    overflow: hidden; /*Dùng để phủ thằng float, vì float là mặt phẳng khác dù nó nằm trong thẻ cha, nên nó làm cho thẻ cha bị co lại. Không phủ hết được con của nó */

}
#content .member-item{
    float:left;
    width:calc(100%/3);
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top:15px;
    width: 154px;
    border-radius:5px;
}
/*Tour-section*/
.tour-section{
    background: #000;
}
.ticket-list{
    background-color: white;
    margin-top:40px;
    list-style:none;
}
.ticket-list li{
    font-size:15px;
    padding:12px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding:4px 4px;
    margin-left: 16px;
}
.ticket-list .quantity{
    float:right;  /*float có sẵn thuộc tính là block -> khi sử dụng float thì sẽ có thuộc tính block*/
    width:24px;
    height:24px;
    background-color: #000;
    color:white;
    border-radius:50%;
    text-align: center;
    line-height: 24px;
    margin-top:-3px; /*Có thuộc tính float thì mới dùng - được*/
}
/* Place section */
.place-list{
    margin-top:32px;
    overflow:hidden;
    margin: 32px -8px 0;
    padding-bottom:48px;
}
.place-item{
    float:left;
    width:33.33333%;
    padding:0 8px;
}
.place-img{
    width:100%; /*CHo width=100% thì ảnh sẽ nằm trong khoảng của thẻ chưứa nó là place-item --> Không làm ảnh vượt quá khoải thẻ chứa nó*/
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    padding:16px;
    background-color: #fff;
    font-size:15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top:15px;
    color: #757575;
}
.place-dsc{
    margin-top:15px;
    line-height:1.4;
}
.place-buy-btn{
    color:#fff;
    background: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top:15px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}


#footer{

}

.modal {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background: #fff;
    width:900px;
    max-width:calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation:modalFadeIn ease 0.5s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-close{
    position: absolute;
    right:0;
    top:0;
    color:#fff;
    padding:12px;
    cursor: pointer;
}
.modal .modal-close:hover{
    opacity: 0.8;
}
.modal .modal-header-icon{
    margin-right: 16px;
}
.modal-body{
    padding:16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket{
    background:#009688;
    border: none;
    color:#fff;
    width:100%;
    font-size:15px;
    text-transform: uppercase;
    padding:18px;
}
#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    padding:16px;
    text-align: right;
}
.modal-footer a{
    color:#2196f3;
}
@keyframes modalFadeIn{ /*Tạo ra các chuyển động liên tiếp các hình ảnh tĩnh */
    from{
        opacity: 0;
        transform: translateY(-130px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
} 